*.jpg
*.json
image_retrieval/datamall_credentials.py
image_retrieval/__pycache__
image_retrieval/__pycache__/
models/object-detection/yolo_data/
models/object-detection/voc_data/
models/object-detection/training/
models/object-detection/yolo-8/runs
checkpoints/
*.pth
