image_retrieval/**/*.jpg
models/**/*.jpg
runs/**/*.jpg
ui/backend/**/*.jpg
*.json
image_retrieval/datamall_credentials.py
image_retrieval/__pycache__
image_retrieval/__pycache__/
models/object-detection/yolo_data/
models/object-detection/voc_data/
models/object-detection/training/
models/object-detection/yolo_data2/
models/object-detection/vehicle-orientation-5/
models/queue_length/traffic.csv
models/queue_length/predict
models/queue_length/queue
models/queue_length/results
models/object-detection/yolo-8/runs
models/traffic_density/end
models/traffic_density/photos
models/traffic_density/split_data
models/experiments/lane_detection/lines
checkpoints/
*.pth
*.pyc
ui/backend/metrics/src/datamall_credentials.py
*.env
*.csv
ui/frontend/node_modules